<!--
* Project Name: ASL Dictionary
* File Name: detail.html
* Programmer: Kai Prince
* Date: Fri, Apr 10, 2020
* Description: This file contains a simple detail view for an SignWord.
-->

<h1>{{object.label}}</h1>
<p>{{object.description}}</p>

{% for image in object.images.all %}
<div>
  <img
    width="400"
    height="400"
    src="{{image.image_file.url}}"
    alt="{{image.alt_text}}"
  />
  <small>{{image.caption}}</small>
</div>
{% endfor %} {% for video in object.videos.all %}
<div>
  <video width="400" height="400" controls autoplay loop muted>
    <source src="{{video.video_file.url}}" type="video/mp4" />
    {{video.alt_text}}
  </video>
  <small>{{video.caption}}</small>
</div>
{% endfor %}
